body {
  background-color: red
}

h2 {
  text-align: center;
}

.birdBlock{
background-color: rgba(255, 255, 255, 0.5);
 width: 30%;
 padding-top: 2%;
 padding-bottom: 2%;
 margin-left: 2px;
 margin-right: 2px;

}
