.flex-container{

  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  height:600px;
  flex-wrap: wrap;

}

.flex-item{

  font-size: 50px;
  text-align: center;
  margin:10px;
  width: calc(33.333% - 40px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.girl-image{
  width: 50%;

}
.item1{

  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #1abc9c


}
.icon-flex{
  display: flex;
  width: 100%;
  justify-content: space-around;

}

.item2{
  background-color: #9b59b6
}
.item3{
  background-color: #2c3e50
}
.item4{
  background-color:#c0392b
}
.item5{
  background-color: #f1c40f
}
.item6{
  background-color: #e67e22
}
